@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-darkline: var(--font-darkline);
}



html,body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}


/* globals.css */.container {
  @apply w-[97%] mx-auto
    sm:w-[95%]
    md:w-[90%]
    lg:w-[87%]
    xl:w-[85%]
    2xl:w-[83%] 2xl:max-w-[1536px];
}